.float_tip {width: 300px;z-index:1000;}
.float_tip_top {position: relative; border-top: 1px solid #666; background:#fff; height: 1px; overflow: hidden; margin: 0 1px;}
.float_tip_bottom {background:#666; height: 1px; overflow: hidden; margin: 0 1px;}
.float_tip_main {border: solid #666; border-width: 0 1px; margin: -1px 0 0; background:#F7E49F; padding: 5px; color:#666; font-size: 11px; line-height: 16px;}

div.ajaxLoad
{
	
}

div.ajaxLoad
{
	position:absolute;
	left:0;
	top:0;
	background:#ff5500;
	display:block;
}