a {color:#DE7216;}
a:hover{color:#D21616;}

.header {background: url('../images/header/bg_header.gif') left top repeat-x; height: 179px;}
.header_in {background: url('../images/header/bg_header_in.jpg') left top no-repeat; height: 179px;}

.header_sitename {position: absolute; color:#fff; font-size: 36px; font-family: tahoma; left: 10px; top: 100px; padding: 0 0 0 170px; width: 550px;}
.header_sitename a {color:#fff; text-decoration: none;}
.header_sitename a:hover {color:#fff;}
.header_sitename img {width: 170px; height: 40px; background: transparent; margin: 0 0 0 -170px;}

.header_auth {top: 5px; right: 12px; width: 470px;}
.header_auth_form {padding: 5px 0 3px;}
.header_auth_form_username {width: 150px; height: 24px; background: url('../images/header/bg_header_auth_form_username.gif') left top no-repeat; padding: 0 17px 0 30px;}
 

.header_auth_form_password {width: 150px; height: 24px; background: url('../images/header/bg_header_auth_form_password.gif') left top no-repeat; padding: 0 17px 0 30px;}
.header_auth_form_password input {background:transparent;}

.header_auth_form_button {width: 72px; height: 25px; background: none; background: url('../images/header/bg_header_auth_form_button.gif') left top no-repeat; padding: 0;}

.header_auth_form_button input,
.header_auth_form_password input,
.header_auth_form_username input {background: transparent; font-family: arial; font-size: 12px; padding: 5px 0;}

.header_auth_links {}
.header_auth_links li {width: 150px; padding: 0 17px 0 30px;}
.header_auth_links li a {color:#FFE373;}
.header_auth_links li a:hover {color:#fff;}

.nav {background:none; border:0;}
.nav_in ul li {background: url('../images/buls/01.gif') left 5px no-repeat;}


.menu li a {color:#DE7216; padding: 0 25px;}
.menu li img {margin: 12px 0 0 -18px; background: url('../images/buls/02.gif') left top no-repeat; width: 9px; height: 9px;}

.menu li:hover,
.menu li.active {background:#DB6B13 url('../images/menu/bg_menu_active.gif') left top repeat-x;}
.menu li:hover a,
.menu li.active a {background: transparent; color:#fff; text-decoration: none;}
.menu li:hover img,
.menu li.active img {visibility: hidden;}

/*?=common
------------------- */
h2.alt {color:#D21616;}
h3.alt {color:#D21616;}
h4.alt {color:#D21616;}

.img {border-color:#777;}
.header_holder_with_line {border-color: #999;}

.content {background: url('../images/content/bg_content.gif') left top repeat-x;}

.poll_line {background: url('../images/poll/01.gif') left top no-repeat;}
.poll_line div {background: url('../images/poll/02.gif') right top no-repeat;}

.button {background: #333 url('../images/form/bg_button_left.gif') left top no-repeat;}
.button span {background: url('../images/form/bg_button_right.gif') right top no-repeat;}
.button input {color:#F7E083;}

.footer {background: none;}
.footer_in {background: none;}


.footer_menu ul li img {width: 9px; height: 9px; background: url('../images/buls/02.gif') left top no-repeat; margin: 4px 0 0 -15px;}


.block_h {background: url('../images/block/01.gif') left top no-repeat;}
.block_h_in {background: url('../images/block/02.gif') right top no-repeat;}
.block_b {background: url('../images/block/03.gif') left bottom no-repeat;}
.block_b_in {background: url('../images/block/04.gif') right bottom no-repeat;}


.blog_h {color:#999;}
.blog_after_t_links_more {background: url('../images/buls/02.gif') left 3px no-repeat;}
.blog_after_t_links_comments {background: url('../images/buls/05.gif') left 2px no-repeat;}
.blog_tags {color:#999;}
.blog_tags a {color:#999;}
.blog_tags a:hover {color:#333;}
.voting{background: url('../images/blog/stars.gif') 0 -13px no-repeat;}
.voting A.cur,.voting A:hover,.voting:hover A.cur:hover,.voting.phover A.cur:hover,.voting:hover A:hover,.voting.phover A:hover{background: url('../images/blog/stars.gif') no-repeat;}


.calendar th {background:#FEAC2E; color:#fff;}
.calendar td.cur {color:#fff; background:#D21616;}
.calendar td a:hover {color:#fff; background: #DE7216;}


.nav_pages a:hover {background:#DE7216; color:#fff;}
.nav_pages em{background:#D21616; color:#fff;}

.user_card {color:#fff;}
.user_card_menu li a {color:#FFE373;}
.user_card_menu li a:hover {color:#fff;}
.user_card_menu li i {background:#000;}


/*?=block_alt
------------------- */
.block_alt {padding: 0 0 20px;}
.block_alt1 {background: #FFF8DC url('../images/block_alt/01.gif') left top no-repeat; //zoom:1;}
.block_alt2 {background: url('../images/block_alt/02.gif') right top no-repeat;}
.block_alt3 {background: url('../images/block_alt/03.gif') left bottom no-repeat;}
.block_alt4 {background: url('../images/block_alt/04.gif') right bottom no-repeat; //zoom:1; padding: 10px;} 


/*forum*/
.fb1_name_1 {background:#F68910 url('../images/forum/block1/01.gif') left top no-repeat;}
.fb1_name_2 {background: url('../images/forum/block1/02.gif') right top no-repeat;}
.fb1_name_2 h2 {color:#fff;}


.ft1 {background:#F68910 url('../images/forum/table/01.gif') left top no-repeat;}
.ft2 {background: url('../images/forum/table/02.gif') right top no-repeat; }
.ft3 {background: url('../images/forum/table/03.gif') left bottom no-repeat;}
.ft4 {background: url('../images/forum/table/04.gif') right bottom no-repeat;}
.ft4 td {background:#fff url('../images/forum/table/bg.gif') left top repeat-x; border-color: #fff;}
.ft4 th {color:#fff;}
.ft4 tr:hover td {background:#FFEB91;}


.forum_but {background: url('../images/forum/but/01.gif') left top no-repeat;}
.forum_but a {background: url('../images/forum/but/02.gif') right top no-repeat;}

.forum_but2 {background: url('../images/forum/but/03.gif') left top no-repeat;}
.forum_but2 a {background: url('../images/forum/but/04.gif') right top no-repeat;}


.fb1_1 {background:#FFEB91 url('../images/forum/block1/03.gif') left top no-repeat;}
.fb1_2 {background: url('../images/forum/block1/04.gif') right top no-repeat; }
.fb1_3 {background: url('../images/forum/block1/05.gif') left bottom no-repeat;}
.fb1_4 {background: url('../images/forum/block1/06.gif') right bottom no-repeat;}

.fb2_1 {background:#FFEB91 url('../images/forum/block2/01.gif') left top no-repeat;}
.fb2_2 {background: url('../images/forum/block2/02.gif') right top no-repeat; }
.fb2_3 {background: url('../images/forum/block2/03.gif') left bottom no-repeat;}
.fb2_4 {background: url('../images/forum/block2/04.gif') right bottom no-repeat;}

.fb3_1 {background:#FFF4B8 url('../images/forum/block3/01.gif') left top no-repeat;}
.fb3_2 {background: url('../images/forum/block3/02.gif') right top no-repeat; }
.fb3_3 {background: url('../images/forum/block3/03.gif') left bottom no-repeat;}
.fb3_4 {background: url('../images/forum/block3/04.gif') right bottom no-repeat;}
.forum_content {background: url('../images/forum/dot.gif') 158px top repeat-y;}
.forum_quote {border-color: #F68B11;}
.forum_quote_icon {background: url('../images/forum/quote.gif');}
.forum_file_icon {background: url('../images/forum/file.gif');}

